* {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.controls {
  display: flex;
  position: absolute;
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* padding: 15px; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: none;
  transition: all 0s;
  position: relative;
  border: none;
  border-radius: 2px;
  border-width: 0px;
  border-color: hsla(0, 0, 0, 0);
  border-style: solid;
  /* stroke-dashoffset: 100; */
  stroke-dasharray: 0;
}

.btn--label {
  position: absolute;
  bottom: -20px;
  opacity: 0.8;
}

.btn:hover .btn--label,
.btn.isActive .btn--label {
  bottom: -22px;
}

.btn.isActive,
.btn:hover {
  border-width: 2px;
  margin-bottom: 8px;
}

.btn--circle:after {
  background-color: hsl(80, 50%, 30%);
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsl(80, 50%, 30%);
}

.btn--square:after {
  background-color: hsl(30, 50%, 50%);
}
.square {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: hsl(30, 50%, 50%);
}
/* 
.btn--water:after {
  background-color: hsl(190, 20%, 65%);
} */

.btn--water svg {
  fill: currentColor;
  position: absolute;
  width: 22px;
}
/* 
.btn--water:before {
  display: absolute;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 30 42"><path d="M15 6 Q 15 6, 25 18 A 12.8 12.8 0 1 1 5 18 Q 15 6 15 6z" /></svg>');
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
} */

.info {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  opacity: 0.8;
}
.info:hover {
  opacity: 1;
}
.info a {
  color: #eee;
}
